# Temporary project files
MNIST_data/
checkpoint
lenet.data*
lenet.index
lenet.meta*
*.sw*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/

